<h1>Stocks of a user</h1>

<%= link_to 'Add Stock', new_stock_path %>

<%= link_to 'dashboard', dashboard_path %>

<%= link_to 'stocks summary', summary_path %>

<%= link_to 'Amount summary', amount_path %>

<%= link_to 'Total  stocks', total_stocks_path %>

<%= link_to 'Total  Amount', total_amount_path %>

<% @stocks.each do |stock| %>

		<h2><%= link_to stock.companyname, stock_path(stock)%></h2>
		
		<p><%= stock.stockprice %></p>

	  
<% end %>



