<h1>Sign Up Page</h1>

<%= form_with(model: @user,url: sign_up_path, data: { turbo: false }) do |form|%>
  
	<div>
		<% @user.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>
  
	<div>
		<%= form.label :username%><br>
		<%= form.text_field :username%>	
	</div>

	<div>
		<%= form.label :email%><br>
		<%= form.text_field :email%>	
	</div>

	<div>
		<%= form.label :password%><br>
		<%= form.text_field :password%>	
	</div>

	<div>
		<%= form.label :password_confirmation%><br>
		<%= form.text_field :password_confirmation%>	
	</div>

	<div>
		<%= form.submit :SignUp %>
	</div>

<%end%>